<div class="jh-container">
  <div class="card" style="width: 20rem; float: left; padding:10px;">
    <img class="card-img-top" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/17342722_1235778276537441_7048528962182932628_n.jpg?oh=f83ba7edc98bb19b665cef88191aa1c8&oe=5A9AA916" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">서 유 진</h4>
      <p class="card-text"> 여러분 안녕하세요!:-) <br>저는 코딩하는 불문학도 서유진입니다! 2년 전 운명처럼 멋쟁이 사자처럼을 만나 웹 프로그래밍에 입문했지만, 처음부터 끝까지 제 손으로 마친 프로젝트는 TeamPlus가 처음이네요! 마지막 학기에 결실을 맺을 수 있어서 다행이라고 생각합니다. 앞으로도 발전하는 개발자가 되겠습니다! </p>
      <a href="https://www.facebook.com/yujin.seo.900" class="btn btn-primary">Go facebook</a>
    </div>
  </div>
  
  <div class="card" style="width: 20rem; float: left; padding:10px;">
    <img class="card-img-top" src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-1/10168203_424625857715494_1029637788915422462_n.jpg?oh=f8212c1e35669f45ecb6ec79ffb5dfc6&oe=5AD21003" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">최 수 현</h4>
      <p class="card-text">안녕하세요? 경희대학교 국제학과 13학번 최수현입니다. 어느새 벌써 2018년입니다. 다들 2017년 잘 마무리하고 다가오는새해를 즐거운 마음으로 시작해요! 메리크리스마스~</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
  
  <div class="card" style="width: 20rem; float: left; padding:10px;">
    <img class="card-img-top" style="width: 278px; height: 278px;"src="profil.jpg" alt="Card image cap">
    <div class="card-body">
      <h4 class="card-title">서      훈</h4>
      <p class="card-text"> 안녕하세요! 물리학과 서훈입니다. 다들 프로젝트 준비하시느라 고생 많으셨습니다. 저는 scsc 과정을 통해 배운 것을 기반으로, 내년에 미국 대학원에 진학해 기계학습을 연구할 예정입니다. 여러분들도 2018년에 소망하시는 일 꼭 이루시길 바랍니다~! </p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>